<section class="form2 cid-tfkR9QjsWU" id="form2-i">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-8">
                <div class="mbr-section-head">
                    <h3 class="mbr-section-title mbr-fonts-style display-2">
                        <span class="mbr-iconfont mobi-mbri-letter mobi-mbri" style="vertical-align: bottom;"></span>
                        <strong>{{ 'Stay informed and leave your email'|t }}</strong></h3>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="mbr-form " data-form-type="formoid">
                    {{ { '#type': 'webform', '#webform': 'subscribe' } }}
                </div>
            </div>
        </div>
    </div>
</section>